/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 /**
  * Basic styling
  */
 body {
   font-family: "Savate", sans-serif;
   font-size: 16px;
   color: #3F3D3D;
   background-color: #F9F7F0;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
   -moz-font-feature-settings: "kern" 1;
   -o-font-feature-settings: "kern" 1;
   font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   position: relative;
 }
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 .highlight {
   margin-bottom: 15px;
 }
 
 /**
  * `main` element
  */
 main {
   display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
 }
 
 /**
  * Images
  */
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
 }
 
 /**
  * Links
  */
 a {
   color: #22049A;
   text-decoration: none;
 }
 a:visited {
   color: #3F3D3D;
 }
 a:hover {
   color: #3F3D3D;
   text-decoration: underline;
 }
 .social-media-list a:hover {
   text-decoration: none;
 }
 .social-media-list a:hover .username {
   text-decoration: underline;
 }
 
 /**
  * Wrapper
  */
 .wrapper {
   max-width: 720px;
   padding-right: 100px;
   padding-left: 100px;
 }
 @media screen and (max-width: 800px) {
   .wrapper {
     max-width: -webkit-calc(800px - (30px));
     max-width: calc(800px - (30px));
     padding-right: 16px;
     padding-left: 16px;
   }
 }
 
 /**
  * Site header
  */
 .site-header {
   margin-top: 64px;
   min-height: 80px;
   position: relative;
 }
 
 .site-title {
   font-size: 88px;
   font-weight: 600;
 }
 .site-title, .site-title:visited {
   color: #22049A;
 }
 
 .site-title:hover {
   color: #22049A;
   text-decoration: none;
 }

 @media screen and (max-width: 800px) {
  .site-header {
    margin-top: 48px;
  }
}

 @media screen and (max-width: 800px) {
  .site-title {
    font-size: 64px;
  }
}
 
 /**
  * Info
  */
 .info {
   font-family: "Asta Sans", sans-serif;
   font-size: 18px;
   line-height: 28px;
   margin-top: 24px;
 }

 @media screen and (max-width: 800px) {
  .info {
    font-size: 16px;
  }
}
 
 .info a, a:visited {
   color: #22049A;
   font-weight: 700;
   text-decoration: underline;
 }
 
 .info a:hover {
   color: #22049A;
 }

 .job-link {
  color: #22049A;
  font-size: 17px;
  font-weight: 700;
 }

 @media screen and (max-width: 800px) {
  .job-link {
    font-size: 16px;
    color: #22049A;
  }
}
 
 /**
  * Button
  */
 
  .btns {
   margin-top: 64px;
  }
 
  .btn {
   display: inline-block;
   border: 1.5px solid #22049A;
   padding: 14px 32px;
   font-family: "Savate", sans-serif;
   font-weight: bold;
   margin-right: 8px;
   margin-top: 8px;
   font-family: "Asta Sans", sans-serif;
  }


  @media screen and (max-width: 800px) {
    .btn {
      padding: 8px 16px;
    }
  }
 
  .btn:hover {
   background-color: #22049A;
   border-color: #22049A;
   color: #FAF3E7;
   text-decoration: none;
  }
 
 /**
  * Footer
  */
 footer {
   height: 80px;
   width: 100%;
   position: absolute;
   bottom: 0;
 }
 
 footer p {
   font-family: "Asta Sans", sans-serif;
   margin-top: 24px;
   font-size: 14px;
   font-weight: 700;
 }

/*# sourceMappingURL=main.css.map */